  <div id='home_background'>
    <div class="welcome_containter">
      <h1>Together, <br /> let's discover the world!</h1>
        <p class="welcome">
        For those living the traveler's mindset, Sonderfly is a platform to connect people through authentic conversations and provide the space to share stories, insights, and support. Join to tell your story and build a community of travelers.
      </p>
      <%= link_to "Get Started", new_user_registration_path, class: "btn" %>
      <%= link_to "EXPLORE", posts_path, class: "btn" %>
    </div>
  </div>


 <% if user_signed_in? %>
  <p id="into">
    Hello <%= current_user.full_name %>
  </p>
  <br />
  <span>
    Share your inspiration and see what's inspiring others.
  </span>

  <% else %>

  <p id="intro">
    What's your muse?
  </p>
  <span>
    Share your inspiration and see what's inspiring others.
  </span>
<% end %>

<%= render 'posts/post_list' %>

