<div class="comment_content">
	<%= form_for([@post, @post.comments.build]) do |f| %>
		<p><%= f.text_area :message, placeholder: "Reply to thread" %></p>
		<%= f.submit :class => 'button-color' %>
	<% end %>
</div>