<%= render 'layouts/nav' %>
	<% if user_signed_in? %>
		<p id="intro">
			<%= render 'layouts/notice' %>
			Hello <%= link_to current_user.full_name, users_dashboard_path  %>
			<br />
		<span>
			Share your inspiration and see what's inspiring others.
		</span>
	<% else %>
		<p id="intro">
			Read 
			<br />
		<span>
			Hello World
		</span>

	<% end %>

<%= render 'posts/post_list' %>