<% if user_signed_in? %>
  <p id="into">
    Hello <%= current_user.full_name %>
  </p>
  <br />
  <span>
    Share your inspiration and see what's inspiring others.
  </span>

  <% else %>

  <p id="intro">
    What's your muse?
  </p>
  <span>
    Share your inspiration and see what's inspiring others.
  </span>
<% end %>

<%= render 'posts/post_list' %>