/*
 *= require_self
 *= require_tree .
 *= require alloyeditor/dist/alloy-editor/assets/alloy-editor-ocean
 */

$white: #fff;
$headline: 4rem;
$subhead: 2rem;
$text: 1rem;
$post_width: 300px;
$color_primary: #5CC7DC;
$color_secondary: #142D3F;
$black: #000;
$white: #fff;
$lightgrey: #D3D3D3;
$darkgrey: #808080;

a {
	text-decoration: none;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

.btn:hover,
.btn:active {
	color: $color_primary;
  background-color: #fff;
  border: 2px solid $color_primary;
}

/* ---- Post Show/Edit ---- */

	.postheader {
		text-align: center;
		color: $white;
		.cover_photo_new {
			height: 100vh;
			background-color: $darkgrey;
		}
		.cover_photo {
			height: 100vh;
			background-size: cover;

			.title_intro {


				#post_title {
					font-size: $headline;
				}

				#post_intro {
					font-size: $subhead;
				}
			}
		} /* -- cover_photo -- */
	} /* -- postheader -- */

.post_body {
		width: 80%;
		margin: 50px auto;
		font-size: $text;

		img {
			width: 100%;
		}
	}

.ae-editable {
	width: 80%;
	margin: 50px auto;
	font-size: $text;
}