/*
 *= require_self
 *= require_tree .
 *= require alloyeditor/dist/alloy-editor/assets/alloy-editor-ocean
 */

$white: #fff;
$headline: 4rem;
$subhead: 2rem;
$text: 1rem;
$post_width: 300px;
$color_primary: #5CC7DC;
$color_secondary: #142D3F;
$black: #000;
$white: #fff;
$lightgrey: #D3D3D3;
$darkgrey: #808080;

h1, h2, h3, h4, h5 {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	margin-bottom: 5px;
}

.btn {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

.btn:hover,
.btn:active {
	color: $color_primary;
  background-color: #fff;
  border: 2px solid $color_primary;
}

/* ---- Post Show/Edit ---- */

	.postheader {
		text-align: center;
		color: $white;
		.cover_photo_new {
			height: 100vh;
			background-color: $darkgrey;
		}
		.cover_photo {
			height: 100vh;
			background-size: cover;

			.title_intro {


				#post_title {
					font-size: $headline;
				}

				#post_intro {
					font-size: $subhead;
				}
			}
		} /* -- cover_photo -- */
	} /* -- postheader -- */

.post_body {
		width: 80%;
		margin: 50px auto;
		font-size: $text;

		img {
			width: 100%;
		}
	}

.ae-editable {
	width: 80%;
	margin: 50px auto;
	font-size: $text;
}


/* ---- Devise Forms ---- */
.form_wrapper {
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $color_secondary;
	.form {
		min-width: 300px;
    position: fixed;
    top: 48%;
    left: 50%;
    margin-left: -220px;
    margin-top: -200px;
    color: $white;
    text-align: center;

    a {
    	color: $white;
    }
	}
}

#logo {
	margin-bottom: 30px;
}

.form-input {
	font-size: 1.5rem;
}

#user_first_name {
	width: 440px;
	margin: 5px;
	height: 2rem;
	padding-left: 10px;
	background-color: transparent;
	color: $white;
}

#user_last_name {
	width: 440px;
	margin: 5px;
	height: 2rem;
	padding-left: 10px;
	background-color: transparent;
	color: $white;
}

#user_email {
	width: 440px;
	margin: 5px;
	height: 2rem;
	padding-left: 10px;
	background-color: transparent;
	color: $white;
}


#user_password {
	width: 440px;
	margin: 5px;
	height: 2rem;
	padding-left: 10px;
	background-color: transparent;
	color: $white;
}

#user_password_confirmation {
	width: 440px;
	margin: 5px;
	height: 2rem;
	padding-left: 10px;
	background-color: transparent;
	color: $white;
}

#user_current_password {
	width: 440px;
	margin: 5px;
	height: 2rem;
	padding-left: 10px;
	background-color: transparent;
	color: $white;
}

#user_remember_me {
	margin-right: 5px;
}