/*
 *= require_self
 *= require alloyeditor/dist/alloy-editor/assets/alloy-editor-ocean
 */

$color_primary: #5CC7DC;
$color_secondary: #142D3F;
$white: #fff;
$black: #000;
$lightgrey: #F8F9FA;
$darkgrey: #08090A;

body {
	font-family: sans-serif;
	font-weight: 100;
	margin: 0;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	margin: 1rem 0;
}


a {
	text-decoration: none;
}

footer { 
	width: 100%;
	background-color: $color_secondary;
	color: $white;
	margin-top: 3%;
	
	#logo {
		margin: 1.5%;
		display: inline-block;
	}

	a {
		color: white;
		margin-left: 1.5%;
	}

	img {
		vertical-align: middle;
	}
}

.alert_container {
	min-height: 75px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.white {
	color: $white;
}

.center {
	margin: auto;
	width: 100%;
	display: block;
	text-align: center;
}

.center_btn {
	margin: auto;
	display: inline-block;
	text-align: center;
}

.button {
	padding: .7rem 1.25rem;
	outline: none;
	background: $white;
	color: #000;
	font-size: 1rem;
	border: none;
}

.btn {
	padding: .7rem 1.25rem;
	outline: none;
	background: $white;
	color: #000;
	font-size: 1rem;
	border: none;
	margin: 1.5%;
}

.button-color {
	padding: .7rem 1.25rem;
	outline: none;
	border: 1px solid $color_secondary;
	color: $color_secondary;
	font-size: 1rem;
	background-color: transparent;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.float-right {
	float: right;
}

.float-left {
	float: left;
	margin-right: 1.5%;
}

.featured {
	text-align: center;
	width: 60%;
	margin: auto;
}

header {
	width: 100%;
	min-height: 75px;
	margin: 0;
	background-color: transparent;
	padding-top: 1.5%;
	#logo {
		float: left;
		margin-left: 1rem;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		color: $white;

		a {
			line-height: 2;
			color: $white;
			text-decoration: none;
			&:hover {
				color: $color_primary;
			}

		.button {
		padding: .7rem 1.25rem;
		outline: none;
		background: $white;
		color: #000;
		font-size: 1rem;
			}

		}
	}
}

@import 'home.css.scss';
@import 'post.css.scss';
@import 'form.css.scss';