// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	width: 100%;
}

.vertical-align-form {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.wrapper {
	.form_wrapper {
		height: 100vh;
		background-color: $color_secondary;
		overflow: scroll;
	}

	.form {
		width: 60%;
		margin: auto;
		text-align: center;

		#logo{ 
		padding: 1rem;
		}
	}

	.form-inputs {
		width: 100%;
		color: $black;

		input {
			width: 90%;
			max-width: 600px;
			height: 2rem;
			margin: .5rem 0;
			font-size: 1rem;
			border: none;
		}

		input:not([type=submit]):not([type=file]) {
			padding: 1.5%;
   		/* omg so much cleaner */
		}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
	}

	.btn {
	outline: none;
	background: $white;
	color: #000;
	font-size: 1rem;
	}
}

#form-logo {
	img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	padding-bottom: 1.5%;
	}
}

.shared_links {
	display: block;
	width: 100%;
	margin: auto;
}

.white {
	color: $white;
		a {
			color: $white;
		}
}

input#user_remember_me {
  width: auto;
  height: auto;
  margin: 0;
  margin-right: 5px;
}