// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	width: 100%;
}
.wrapper {
	.form_wrapper {
		height: 100vh;
		background-color: $color_secondary;
		overflow: scroll;
	}

	.form {
		width: 60%;
		margin: auto;
		text-align: center;

		#logo{ 
		padding: 1rem;
		}
	}

	.form-inputs {
		width: 100%;
		color: $white;

		input {
			width: 100%;
			max-width: 600px;
			height: 2rem;
			margin-bottom: .5rem;
			color: $white;
			font-size: 1rem;
		}
	}

	.btn {
	outline: none;
	background: $white;
	color: #000;
	font-size: 1rem;
	}
}

#form-logo {
	img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	padding-bottom: 1.5%;
	}
}

.shared_links {
	display: block;
	width: 100%;
	margin: auto;
}

.white {
	color: $white;
		a {
			color: $white;
		}
}