#home_background {
	background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../assets/homepage_background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;

	.welcome_container {
		color: $white;
		width: 80%;
		margin: auto;
	}

	.welcome {
		font-size: 1.25rem;
		margin-bottom: 2rem;
		margin-top: 0;
	}

	h1 {
		color: $white;
		font-size: 3.5rem;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 0;
	}
}

#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 1.75rem;
	line-height: 1;
	span {
		font-size: 1.25rem;
		color: #9B9B9B;
	}
}
#posts {
	.post {
		background: $lightgrey;
		width: 30%;
		float: left;
		margin: 1rem 1.5%;
		border: 1px solid #E4E4E4;
		display: inline-block;
		.post_image {
			overflow: hidden;
			img {
				width: 100%;
				overflow: hidden;
			}
		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 100;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.25rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}