.post_body{
	width: 80%;
	margin: auto;
	font-size: 1.25rem;
	font-weight: 300;
	
	img {
		width: 100%;
	}
}

.post_content {
	width: 90%;
	margin: auto;
	font-size: 1.5rem;
}

.cover_photo {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-color: $color_secondary;

	.post_header {
		width: 80%;
		text-align: center;
		margin: auto;
		color: $white;

		#post_title {
			width: 100%;
			height: 4rem;
			background-color: transparent;
			font-size: 3rem;
			text-align: center;
		}

		#post_intro {
			width: 100%;
			height: 3rem;
			font-size: 2rem;
			background-color: transparent;
			border: none;
			text-align: center;
		}
	}
}

#post_show {
	input {
	width: 100%;
	max-width: 600px;
	height: 2rem;
	background-color: transparent;
	margin: .5rem;
	color: $white;
	font-size: .75rem;
	padding-left: 1rem;
	}
	.post_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #969696;
			&:hover {
				color: #50A7C7;
				border: 1px solid #50A7C7;
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}

	h1 {
		margin: 0;
		text-align: center;
		font-weight: 700;
		font-size: 4rem;
	}

	h3 {
		font-size: 2rem;
	}

	img {
		width: 100%;
		height: 100%;
	}

	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
		text-align: center;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}
}

#comments {
	padding-bottom: 4rem;
	width: 50%;
	.comment_count {
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: .5rem;
		margin-bottom: 0;
	}
	.comment {
		padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		.username {
			font-size: 1.3rem;
			color: #333233;
			margin: 0 0 .5rem 0;
		}
		.content {
			margin: 0;
			color: #969696;
		}
	}
	.comment_content {
		margin-top: 2.5rem;
		textarea {
			width: 100%;
			margin: 1rem 0;
			min-height: 150px;
			border: 1px solid #E4E4E4;
			background: #F8F9FA;
			border-radius: 0.3rem;
		}
	}
}