<div class="alter_container">
	<% if notice.present? %>
			<p class="alert alert-info center"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
			<p class="alert alert-danger center"><%= alert %></p>
	<% end %>
</div>